[data-pickingcat=false] {
    opacity: 0.8;
}

.disabled, .disabled * {
    pointer-events: none;

    a:not(.active) {
        color: inherit !important;
    }
}

.results .winner {
    @extend .amber.lighten-2;
}
